.filters {
  ul {
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      margin-top: 0.6rem;

      &.active {
        font-weight: bold;
      }
    }
  }

  .filters__box {
    margin: 0 0 1rem;
    border-bottom: solid 1px #eee;
    padding-bottom: 12px;

    h3 {
      font-size: 1.2em;
      color: #888;
    }
  }
}

.filters__brand,
.filters__ratings {
  margin-top: 2rem;
}

.form__price {
  input {
    margin: 0 0.5rem;
    width: 5rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid #000;
  }

  span {
    font-weight: bold;
  }

  button {
    border-radius: 50%;
    outline: none;
    border: 1px solid #888;
    font-size: 1.2rem;

    &:hover,
    &:focus {
      background-color: #fff;
      transition: all 0.25s ease;
    }
  }
}

.form__brand {
  input {
    border-radius: 4px;
    outline: none;
    border: 1px solid #888;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
}
